h2 {
    font-weight: bold;
}

h2::first-letter {
    color: blue;
}

p::before {
    content: "*. ";
    color: green;
}

p::first-line {
    color: green;
}

p::after {
    content: " - Aloja more don";
    color: red;
}
