.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.item {
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid #000;
    padding: 20px;
}