.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    width: 100%;
    margin: auto;
    height: 800px;
}

.header {
    grid-area: header;
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgreen;
    padding: 10px;
    font-size: 30px;
}

.content {
    grid-area: content;
    background-color: lightblue;
    padding: 10px;
    font-size: 30px;
}

